<!DOCTYPE html>
<html>
  <head>
    <title>Math Notebook</title>
    <link
      rel="stylesheet"
      href="./lib/mathquill/mathquill.css"
    />
    <link
      rel="stylesheet"
      href="./style.css"
    />
    <script src="./lib/jquery/dist/jquery.js"></script>
    <script src="./lib/angular/angular.js"></script>
    <script src="./lib/mathquill/mathquill.js"></script>
    <script src="./help.js"></script>
    <script src="./app.js"></script>
    <link rel="manifest" href="/manifest.json">
  </head>

  <body ng-app="myApp">
    <div
      class="container"
      ng-controller="MyController"
    >
      <div class="toolbar">
        <button class="help">?</button>
      </div>

      <div class="content">
        <div class="help-screen">
          <h1>Math Notebook</h1>
          <div id="codes"></div>
        </div>
        <div class="math-lines">
          <div
            ng-repeat="field in fields track by $index"
            class="math-line"
          >
            <mq-mathfield
              class="my-math-input"
              ng-model="field"
              on-enter-key="onEnterKey(field)"
              on-move-out="onMoveOut(field, direction)"
              on-delete-out="onDeleteOut(field, direction)"
              on-focus-change="onFocusChange(field, hasFocus)"
            ></mq-mathfield>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function () {
        help.init();

        if ("serviceWorker" in navigator) {
          window.addEventListener("load", function () {
            navigator.serviceWorker.register("./service-worker.js").then(
              function (registration) {
                console.log(
                  "ServiceWorker registration successful with scope: ",
                  registration.scope
                );
              },
              function (err) {
                console.log("ServiceWorker registration failed: ", err);
              }
            );
          });
        }
      })();
    </script>
  </body>
</html>
