html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  color: #333;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
}

.toolbar button {
  
  height: 2rem;
  width: 2rem;

  background-color: #f2f2f2;
  border: solid 1px #333;
  border-radius: 0.15rem;
  color: #333;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
  pointer-events: all;
}

.toolbar button:hover {
  background-color: #333;
  color: #f2f2f2;
}

.content {
  flex-grow: 1;
  max-width: 720px;
  height: 100%;
  position: relative;
}

.help-screen {
  background-color: #f2f2f2;
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  height: 100%;
  opacity: 0;
  transition: opacity 500ms;
  pointer-events: none;
}

.help-screen.active {
  pointer-events: inherit;
  opacity: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.help-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.help-table th {
  text-align: left;
  border-bottom: solid 1px #333;
}

.help-table td {
  padding-left: 1rem;
}

.help-table td.html {
  text-align: right;
  padding-right: 1rem;
}

.math-lines {
  padding-top: 2rem;
  height: 100%;
  overflow-y: scroll;
}

.math-line {
  margin-bottom: 1em;
}

.my-math-input {
  transition: opacity 500ms;
  opacity: 0.6;
  border: none;
  background: none;
  width: 100%;
}

.my-math-input:hover {
  opacity: 0.8;
}

.my-math-input.mq-focused,
.my-math-input .mq-text-mode.mq-hasCursor {
  opacity: 1;
  box-shadow: none;
  border: none;
}

.my-math-input .mq-scaled,
.my-math-input .mq-non-leaf {
  transition: transform 250ms, background-color 250ms;
}

.my-math-input .mq-cursor {
  transition: opacity 250ms;
  opacity: 0.6;
  border-left-color: #00bdfc;

  transform: scale(2.5, 1.5);
  width: 1px;
  left: 1px;
}
.my-math-input.mq-editable-field .mq-cursor.mq-blink {
  visibility: visible;
  opacity: 0;
}

.my-math-input .mq-matrixed {
  background: none;
}
